@import "../styles/styleguide.css";

.frame-landing-page {
  width: 1440px;
  height: 2400px;
  overflow: hidden; /* Equivalent de "Clip content" */
  opacity: 1; /* 100% opacity */
  position: relative; /* Conteneur principal, définit le contexte de positionnement */
  background-color: var(
    --black
  ); /* Nous utiliserons une variable CSS pour la couleur de fond */
  /*tout les couleurs de text doivent être en blanc*/
  color: white;
}

/* src/components/frameLandingPage/FrameLandingPage.css */
.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center; /* centre le contenu verticalement, mais on est en mode vertical donc c'est centrer horizontalement */
  gap: 10px;
  height: 2572px;
  overflow: hidden;
  padding: 80px 0px; /* utiliser de important pour écraser le padding du selecteur universel qui suit*/
  position: absolute; /* Positionné par rapport au conteneur parent */
  left: 0;
  top: 0;
  width: 1440px;
}

.frame-landing-page * {
  /* l'étoile signifie "tous les éléments enfants", c'est un selecteur universel*/
  /*border: 2px solid white; /* Bordure blanche pour tous les enfants */
  /*box-sizing: border-box; /* Pour inclure la bordure et le padding dans les dimensions des éléments */
}
