.label_title {
  height: 65px;
  width: 381px;
  display: flex; /* Utiliser flexbox pour centrer verticalement */
  align-items: center; /* Centrer verticalement */
  justify-content: center; /* Centrer horizontalement si nécessaire */
}

.label_title .titre {
  color: #fffffe;
  font-family: "Inter-Bold", Helvetica, serif;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 0;
  position: relative;
  white-space: nowrap; /* so that the title text doesn't wrap */
}
