/* src/components/Logo.css */
.primary-fill {
  fill: var(--primary);
}

.secondary-stroke {
  stroke: var(--secondary);
}

.black-fill {
  fill: var(--black);
}

.frame-titre-logo {
  width: 203px; /* Ajustez cette valeur selon vos besoins */
  height: auto; /* Pour conserver les proportions de l'image */
  margin-bottom: 20px; /* As per the auto layout settings */
}
